.frase {
    font-size: 20px;
}

.campo-digitacao {
    font-size: 20px;
    height: 50px;
}

.campo-desabilitado {
    background-color: gray;
}

.icones {
    vertical-align: middle;
}

.borda-verde {
    border: 3px solid green;
}

.borda-vermelha {
    border: 3px solid red;
}
